.sidebar {
    width: 300px;
    height: auto;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #ffffff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 40px;
    z-index: 100;
    padding-bottom: 25px;
}
.sidebar .bondeau {
    width: 300px;
    height: 77px;
    border-radius: 8px;
    background-color: #073b4c;
    position: relative;
}
.sidebar .bondeau img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Rectangle5 {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #ffffff;
}
.Rectangle4{
    width: 125px;
    height: 125px;
   display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 0;
    border-radius: 50%;
    background-color: #118ab2;
    position: relative;
}
.Rectangle4 img{
    position: absolute;
    top: 50.2%;
    left: 50.35%;
    width: 97%;
    height: 97%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;

}
.Rectangle3{
    width: 104px;
    height: 104px;
   display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: #ffffff;
} 
.Rectangle2{
    width: 96px;
    height: 96px;
    border-radius: 3px;
    background-color: #118ab2;
}
.sidebar .profile{
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:-50px
}
.sidebar .profile .profileTitle{
        margin: 0 0 8.1px;
        font-family: var(--primary-font);
        font-size: 17.9px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: center;
        color: #3e3f5e;
}
.sidebar .profile .profileJob {
    font-family: var(--primary-font);
    font-size: 10.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    text-align: center;
    color: #afb0c0;
}
 

.sidebar .profileOverviews{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
}
.sidebar .profileOverviews .profileOverviewsItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
}
.sidebar .profileOverviews .profileOverviewsItem .profileOverviewsItemValue{
    font-family: var(--primary-font);
    font-size: 13.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #3e3f5e;
}
.sidebar .profileOverviews .profileOverviewsItem .profileOverviewsItemName{
    font-family: var(--primary-font);
    font-size: 10.9px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.72;
    letter-spacing: normal;
    text-align: center;
    color: #afb0c0;
}
.sidebar .sidebarLinks{
    display: flex;
    flex-direction: column;
    width:100%;
    align-items: center;
    margin-top: 15px;
}
.sidebar .sidebarLinks .sidebarLinksItem{
    width: 90%;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    height: 48px;
    border-radius: 10px;
    margin-top: 16px;
    align-items: center;
    justify-content: flex-start;
}

.sidebar .sidebarLinks .sidebarLinksItem .linkIcon {
    font-size: 25px;
    margin-right: 20px;
    color: #afb0c0;
    transition: 0.5s;
}
.sidebar .sidebarLinks .sidebarLinksItem .linkName{
    
    height: 18px;
    margin-right: 20px;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: right;
    transition: 0.5s;
    color: #afb0c0;
}
.sidebar .sidebarLinks .sidebarLinksItem.active {
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 0 6px 12px 0 rgba(10, 102, 194, 0.16);
    background-image: linear-gradient(to bottom, #df8121, #bf6202 119%);
}
.sidebar .sidebarLinks .sidebarLinksItem.active .linkName{
        font-family: var(--primary-font);
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.71;
        letter-spacing: normal;
        text-align: right;
        color: #fefeff;  
}
.sidebar .sidebarLinks .sidebarLinksItem.active  .linkIcon{
    color: #fff;
}
@media(max-width:1155px){
    .sidebar{
        display: none;
    }
}