.mainLayoutContainer{
    width: 100%;
    /* min-width: 100vw; */
    display: flex;
    flex-direction: column;
    background-color: #f8f8fb;
}
.mainLayoutContainer .mainLayoutBaseContent{
    display: flex;
    flex-direction: row;
    padding-top: 32px;
    padding-left: 43px;
    padding-right: 43px;
    padding-bottom: 32px;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}
.mainContent{
    width: calc(100% - 350px) ;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
}
@media(max-width:1155px){
    .mainContent{
        width: 100% ;
        padding: 32px;
        display: flex;
        flex-direction: column;
    }
}