.mainLayoutContainer{
    width: 100%;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #f8f8fb;
}
.mainLayoutContainer .mainLayoutBaseContent{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.mainContent{
    width: calc(100% - 300px) ;
    padding: 32px;
    display: flex;
    flex-direction: column;
}
@media(max-width:1155px){
    .mainContent{
        width: 100% ;
        padding: 32px;
        display: flex;
        flex-direction: column;
    }
}