.error500Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error500Container .error500Anim{
    height: 600px;
}
.error500Container .error500Anim img{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.error500Container h2{
    font-family: var(--primary-font);
    font-size: 39px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: center;
    color: #3e3f5e;
}
@media(max-width:600px){
    .error500Container .error500Anim{
        width: 80%;
    }
    .error500Container h2{
        font-size:20px;
    }
}