.successSection{
    display: flex;
    flex-direction: column;
}
.successSection h3{
    /* width: 169px; */
    /* margin: 16px 28px 20px 418px; */
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: right;
    color: #118ab2;
}
.successSection h3 .addIcon{
    color: #118ab2;
    font-size: 20px;
}
.successSection .successSectionNotExpanded{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-direction: wrap;
    width: 70%;
    font-size: 12px;
    margin-bottom: 16px;
    margin-right: 28px;
    font-family: var(--primary-font);
}
.successSection .successSectionItems{
    display: flex;
    flex-direction: column;
    padding-right: 47px;
}
.successSection .successSectionItems .successSectionItem h3{
    margin: 0 0 0 32px;
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: right;
    color: #3e3f5e;
}
.successSection .successSectionItems .successSectionItem{
    cursor: pointer;
    margin-bottom: 16px;
}
.actionItemButton{
    width: 40px;
    height: 40px;
}
.successSection .successSectionItem .actionItem{
    position: relative;
    top: 30px;
    opacity: 0;
    transition: 0.5s;
}
.successSection .successSectionItem:hover   .actionItem{
    display: flex;
    opacity: 1;
    transition: 0.5s;
}

.successSection .successSectionItem .actionItem .actionItemIcon{
    font-size: 22px !important;
}
.successSection .successSectionItem .actionItem .actionItemIcon.edit{
    color: var(--active-color);
}
.successSection .successSectionItem .actionItem .actionItemIcon.delete{
    color: var(--danger-color);
}
.successSection .successSectionItems .successSectionItem h4{
    
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: right;
    color: #3e3f5e;
}
.successSection .successSectionItems .successSectionItem span{
    width: 90%;
    display: block;
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: normal;
    margin-top: 8px;
    font-stretch: normal;
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    text-align: right;
    color: #afb0c0;
}
.successSection .seccessSectionDevider{
    width: 100%;
    height: 0;
    opacity: 0.4;
    border: solid 1px #9192a6;
    margin-bottom: 16px;
}