.postCard{
    width: 304px;
    height: auto;
    margin: 0 0px 0 0;
    /* padding: 168px 0 0; */
    padding: 0 !important;
    border-radius: 12px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #ffffff;   
    display: flex;
    flex-direction: column;
    transition: .5s;
}
.postCardSkeleton{
    width: 304px;
    height: auto;
    margin: 0;
    padding: 0 !important;
    border-radius: 12px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #ffffff;   
    display: flex;
    flex-direction: column;
    transition: .5s;
}
.postCard:hover{
    transform: scale(1.05);
}
.postCardSkeleton:hover{
    transform: scale(1);
}

.postCard .postImg{
    width: 100%;
    height: 164px !important;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: relative;
    z-index: 1;
}
.postCard .postImg img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: inherit;
    border-radius: inherit;
}
.postCardSkeleton .postImg{
    background-color: inherit;
    background-color:#118ab281;
    height: 185px  !important;
    width: 100%;
}
.postCardSkeleton .postImg > *{
    width: 100%;
    height: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.postCard .postContent{
    display: flex;
    z-index: 2;
    flex-direction: column;
}
.postCard .postContent .postInfo{
    padding: 24px;
}
.postCard .postContent .postType{
    height: 32px;
    width: 90px;
    box-shadow: 3px 5.2px 20px 0 rgba(94, 92, 154, 0.12);
    background-color: #06d6a0;
    border-radius: 25px;
    margin-top: -42px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.postCard .postContent .postType > *{
    z-index: 20 !important;
}
.postCardSkeleton .postContent .postType{
    height: 55px;
    width: 90px;
    box-shadow: 3px 5.2px 20px 0 rgba(94, 92, 154, 0.12);
    background-color:#06d69eab ;
    border-radius: 25px;
    margin-top: -52px;
    margin-bottom: 5px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}
.postCard .postContent h2{
    font-family: var(--primary-font);
    font-size: 16px;
    height: 50px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: right;
    color: #3e3f5e;
    margin-bottom: 8px;
}
.postCard .postContent p{
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.66;
    letter-spacing: normal;
    height:100px;
    text-align: right;
    color: #9192a6;
}
.postCard .postFooter{
    border-top: 1px solid #eaeaf5;
    width: 100%;
    padding: 0;
    height: 55px;
    background-color: #fcfcfd;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.postCard .postFooter .postAuthor{
    font-family: var(--primary-font);
    display: flex;
    align-items: center;
}
.postCard .postFooter .postAuthor .postAuthorImg{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    position: relative;
    border-radius: 50%;
}
.postCard .postFooter .postAuthor .postAuthorImg > img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}
.postCard .postFooter .postAuthor h5{
    margin-left: 7px;
    margin-right: 7px;
}
.postCardSkeleton .footerSekeleton{
    width: 100%;
}