.accountBanner {
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    position: relative;
}
  
.accountBanner .bondeau{
    height: 304px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #073b4c;
    position: relative;
}
.accountBanner .bondeau img{
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 100%;
    width: 100%;
    object-fit: cover;    
}
.accountBanner .accountBannerContent{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-left: 33px;
   padding-right: 33px;
   align-items: center;
   height: calc(100% - 304px);
}
.accountBanner .accountBannerOverview{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top:-10px
}
.accountBanner .accountBannerOverview >div{
    display: flex;
}
.accountBanner .accountBannerOverview .overviewItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}
.accountBanner .accountBannerOverview .overviewItem .overviewValue{
    font-family: var(--primary-font);
    width: 26px;
    height: 16px;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: normal;
    text-align: center;
    color: #3e3f5e;
    position: relative;
}
.accountBanner .accountBannerOverview .overviewItem .overviewValue img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.accountBanner .accountBannerOverview .overviewItem .overviewName{
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #afb0c0;
    margin-top: 20px;
}
.accountBanner .accountBannerOverview .dividerOveriew{
    width: 1px;
    height: 20px;
    background-color: #eaeaf5;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 18px;
}

.accountBanner .Rectangle12 {
    width: 112px;
    height: 111px;
    border-radius: 5px;
    
    background-color: #118ab2;
}
.accountBanner .Rectangle11 {
    width: 140px;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border-radius: 6px;
    background-color: #ffffff;
}
.accountBanner .Path2980 {
    width: 170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 4px 4px;
    border-radius: 50%;
    position: relative;
    background-color: #118ab2;
}
.accountBanner .Path2980 img{
    position: absolute;
    width: 97%;
    height: 97%;
    top: 50%;
    left: 50%;
    border-radius: inherit;
    transform: translate(-50%,-50%);      
}
.accountBanner .Rectangle9 {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ffffff;
}
.accountBanner .bannerProfile{
    position: relative;
    margin-top:-120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.accountBanner .bannerProfile .profileName{
    font-family: var(--primary-font);
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    /* margin-top: 5px; */
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #3e3f5e;
}
.accountBanner .bannerProfile .editProfile{
    background-color: var(--active-color);
    color: #ffffff;
    font-size: 12px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -23px;
    left:-70px;
    z-index: 10;
}

.accountBanner .bannerProfile .profileJob{
    font-family: var(--primary-font);
    font-size: 14px;
    margin-top: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #afb0c0;
}
.accountBanner  .badges{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
}
.accountBanner  .badges li{
    position: relative;
    margin-left: 7.5px;
    margin-right: 7.5px;
    width: 36px;
    height: 39px;
}
.accountBanner  .badges li img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;

}
.accountBanner  .bannerSocialNetworks li{
    cursor: pointer;
}

.accountBanner  .linkEditAccount{
    width: 180px;
    height: 48px;
    top: 32px;
    left: 32px;
    position: absolute;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    margin-bottom: 24px;
    margin-left:  12px;
    box-shadow: 3px 5.2px 10px 0 rgba(62, 255, 205, 0.3);
    background-color: var(--active-color);

}
.accountBanner  .linkEditAccount span{
  font-family: var(--primary-font);
  font-size: 13.9px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.accountBanner .bannerLinks .bannerSocialNetworks .iconItem{
    width: 40px;
    height: 40px;
    margin: 0 0 0 12px;
    border-radius: 8px;
    background-color: #7289da;
    display: flex;
    justify-content: center;
    align-items: center;
}
.accountBanner  .bannerSocialNetworks .iconItem i{
    color: #fff;
}
.accountBanner  .bannerSocialNetworks .iconItem.facebook{
    background-color: #3b5999;    
}
.accountBanner  .bannerSocialNetworks .iconItem.twitter{
    background-color: #55acee;
}
.accountBanner  .bannerSocialNetworks .iconItem.linkedin{
    background-color: #0077B5;
}
.accountBanner  .bannerSocialNetworks .iconItem.skype{
    background-color: #00AFF0;
}

.accountBanner .bannerLinks .bannerSocialNetworks{
    position: relative;
    top: 20px;
}
@media(max-width:1014px){
    .accountBanner .bannerLinks{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top:-14px;
    }
    .accountBanner .bannerLinks .bannerSocialNetworks{
        position: relative;
        top: 0;
    }
}
@media(max-width:650px){
    .accountBanner .bannerProfile{
        position: relative;
        top:-40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .accountBanner .accountBannerOverview{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        top: 35px;
    }
    .accountBanner .accountBannerOverview .overviewItem{
        margin:10px
    }
    .accountBanner .accountBannerOverview .overviewItem .overviewValue{
        font-size: 18px;
    }
    .accountBanner .accountBannerOverview .overviewItem .overviewName{
        font-family: var(--primary-font);
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
        letter-spacing: normal;
        text-align: center;
        color: #afb0c0;
    }
}
@media(max-width:557px){
    .accountBanner .bannerProfile{
        position: relative;
        top: 0;
        margin-top: -50px;
        top: -20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 1;
    }
    .accountBanner .accountBannerOverview {
        order:2;
        top: 0;
    }
    .accountBanner .bannerLinks{
        order:3;
        top:0;
        margin-top: 10px;
        margin-bottom: 15px;

    }
}