.collectionContainer{
    height: auto;
    margin: 0 0 13px;
    display: flex;
    flex-direction: column;
    padding: 24px 28px 32px 1px;
    border-radius: 8px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #ffffff;
}
.collectionContainer h2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #3e3f5e;
}
.collectionTitleIcon{
    margin-left: 5px;
    margin-right: 5px;
}
.collectionContainer h2 span{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.iconButtonHeader{
    width:40px;
    height: 40px;
    text-align: center !important;
    margin-left: 24px !important;
   
}

.actionSectionIcon{
  font-size: 18px;
  color: #dfdfe6;
  
}


.collectionContainer .collectionItems{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}
.collectionContainer .collectionItems .collectionItem{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    width: 100%;
}
.collectionRectangle{
    width: 44px;
    height: 44px;
    margin: 0 0 40px 16px;
    border-radius: 8px;
    background-color: #118ab2;     
}
.collectionContainer .collectionItems .collectionItem .collectionContent{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: calc(100% - 50px);
}
.collectionContainer .collectionItems .collectionItem .collectionContent h2{
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    display: flex;
    width: 90%;
    justify-content: space-between;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #3e3f5e;
}
.collectionContainer .collectionItems .collectionItem .collectionContent h2 .actionItem{
    position: relative;
    top: 30px;
    opacity: 0;
    transition: 0.5s;
}
.collectionContainer .collectionItems .collectionItem:hover .collectionContent h2 .actionItem{
    display: flex;
    opacity: 1;
    transition: 0.5s;
}

.collectionContainer .collectionItems .collectionItem .collectionContent h2 .actionItem .actionItemIcon{
    font-size: 22px !important;
}
.collectionContainer .collectionItems .collectionItem .collectionContent h2 .actionItem .actionItemIcon.edit{
    color: var(--active-color);
}
.collectionContainer .collectionItems .collectionItem .collectionContent h2 .actionItem .actionItemIcon.delete{
    color: var(--danger-color);
}
.collectionContainer .collectionItems .collectionItem .collectionContent h3{
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #3e3f5e;
}
.collectionContainer .collectionItems .collectionItem .collectionContent span{
    font-weight: normal;
    color: #afb0c0;
    font-family: var(--primary-font);
    font-size: 12px;
    width: 90%;
}
.collectionContainer .collectionItems .collectionItem .collectionContent .line{
    width: 90%;
    height: 0;
    margin: 8px 0px 0 0;
    opacity: 0.4;
    border: solid 1px #9192a6
}
.collectionContainer .collectionItems .moreCollections{
    display: flex;
    align-items: center;
}
.collectionContainer .collectionItems .moreCollections .moreCollectionButton{
    width: 40px;
    height: 40px;
    display: flex;
}
.collectionContainer .collectionItems .moreCollections .moreText{
    font-family: var(--primary-font);
    /* margin: 0 8px 0 0; */
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    letter-spacing: normal;
    color: #3e3f5e;
}
.moreCollectionIcon{
    color: #3e3f5e;
    font-size: 13px;
}