
.researchView{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

.researchView .researchImage{
    width: 100%;    
    height: 502px;
    border-radius: 8px;
    background-color: var(--secondary-color);
    position: relative;
}
.researchView .researchImage img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit !important ;
}

.researchView .researchBody{
    height: auto;
    margin-top: 2px;
    min-height: auto;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 11px 8px;
    padding-bottom: 50px;
}
.researchView .researchBody .researchBodyHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.researchView .researchBody .researchBodyHeader h1{
    font-family: var(--primary-font);
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    margin-bottom: 25px;
    letter-spacing: normal;
    text-align: right;
    color: #3e3f5e;
}
.researchView .researchBody .researchBodyHeader .researchBodyHeaderAction{
    padding-left: 22px;
    padding-right: 22px;
}

.researchView .researchBody .researchBodyHeader .researchBodyHeaderAction .deleteIcon{
    color: #bf2700;
}
.researchView .researchBody .researchBodyContent{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.researchView .researchBody .researchBodyContent .secondaryInfo{
    display: block;
    font-family: var(--primary-font);
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: right;
    color: #afb0c0;
    margin-bottom: 6px;
}
.researchView .researchBody .researchBodyContent .authors{
    margin-top: 20px;
}
.researchView .researchBody .researchBodyContent .authors h2{
    font-family: var(--primary-font);
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: right;
    margin-bottom: 4px;
    color: #3e3f5e;
}
.researchView .researchBody .researchBodyContent .authors  .author{
    display: block;
    font-family: var(--primary-font);
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: right;
    margin-top: 7px;
    color: #3e3f5e;
}

.researchView .researchBody .researchBodyContent .links{
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin-top: 35px;
}
.researchView .researchBody .researchBodyContent .links  .downloadLink{
    width: 160px;
    height: 40px;
    border-radius: 8px;
    background-color: #d27515;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #fff !important;  
}
.researchView .researchBody .researchBodyContent .links  .downloadLink i{
    font-size: 18px;
    position: relative;
    left: 10px;
}
.researchView .researchBody .researchBodyContent .links  .gotToLink{
    width: 160px;
    height: 40px;
    border: solid 1px #d27515;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.65;
    letter-spacing: normal;
    text-align: center;
    color: #d27515 !important;
}
.researchView .researchBody .researchBodyContent .links  .gotToLink i{
    font-size: 18px;
    position: relative;
    left: 10px;
}
.summarize{
    margin-top: 45px;
}
.summarize h2{
    font-family: var(--primary-font);
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: right;
    color: #3e3f5e;
}
.summarize p{
    margin-top: 7px;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: right;
    color: #3e3f5e;
}

.keywords{
    display: flex;
    margin-top: 20px;
    padding-right: 50px;
}
.keyword{
    width: auto;
    height: 24px;
    margin: 5px;
    padding: 5px 17px;
    border: solid 1px #005697;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    letter-spacing: -0.1px;
    text-align: left;
    color: #005697;
}