.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 200;
    overflow: auto;
  }
.backdrop  .modal{
    max-width: 500px;
    margin:  auto;
    background: white;
    border-radius: 10px;
  }

.backdrop .closeSection{
  width: 100%;
  display: flex;
  justify-content: flex-end;

}
.backdrop .closeSection .closeButton{
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  z-index: 10;
  margin: 5px;
  padding: 9px 9px 9px 9px;
 
}
.backdrop .closeSection .closeButton .closeButtonIcon{
  font-size: 20px;
  color: #afb0c0;  
}