.editCredentialsContainer{
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #fff;
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    align-items: center;
}

.editCredentialsContainer h1{
  font-family: var(--primary-font);
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #302f45;
}

.editCredentialsContainer form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editCredentialsContainer form label[class*="MuiInputLabel-outlined"]{
    padding-left: 20px !important;
    background: #fff;
}
.editCredentialsContainer form .editCredentialsInput{
    margin: 11.1px 0 0;
    border-radius: 20px !important;
    width: 727.8px;
    margin-top: 28px;
    margin-bottom: 10px;
}
.editCredentialsContainer form .editCredentialsInput div[class*="MuiOutlinedInput-root"]{
        border-radius: 12px;
        border: solid 1px #dedeea;
        background-color: #fff; 
}
.editCredentialsContainer form .editCredentialsInput input{
        width: 727.8px;
        height: 40px;
        border-width: 0px;
}
.editCredentialsContainer form .editCredentialsInput div[class*="MuiSelect-select"]{
    width: 727.8px;
    height: 40px;
    border-width: 0px;
}
.editCredentialsContainer form  .formSubmit{
    width: 100%;
    display: flex;
    justify-content: center;
}
.editCredentialsContainer form  .formSubmit .submitButton{
        width: 289.4px;
        height: 71px;
        border-radius: 12px !important;
        background-color: var(--active-color) !important;
        font-family: var(--primary-font) !important;
        font-size: 20px !important;
        font-weight: bold !important;
        font-stretch: normal !important;
        font-style: normal !important;
        line-height: 1.4 !important;
        letter-spacing: normal !important;
        text-align: center !important;
        color: #fff !important;
        margin-top: 60px !important;
}
.alertContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position:relative;
    top: 10px;
}
.successAlert{
    width: auto;
    padding: 5px;
}