@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
*{
    margin: 0;
    padding: 0;
}
.MuiFormLabel-root{
    font-family: var(--primary-font) !important;
}
input{
    font-family: var(--primary-font) !important;
}

:root {
    /* colors */
    --primary-color: #118ab2; 
    --secondary-color:#073b4c;
    --active-color:#06d6a0;
    --danger-color:#ef476f;
    
    /* buttons */
    --button-1:var(--primary-color);
    --button-2:var(--active-color);
    --button-3:var(--secondary-color);

    /* fonts */
    --primary-font: 'Noto Kufi Arabic'
  }
.MuiTab-textColorSecondary.Mui-selected{
    color: var(--active-color) !important;
}
.Mui-selected{
    color: var(--active-color) !important;
}
.MuiTabs-indicator{
    background-color: var(--active-color) !important;
}
.MuiTabs-flexContainer{
    justify-content: space-between;
}
.MuiIconButton-label{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.autoHeight{
    height: auto !important;
}
.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1{
    font-family: var(--primary-font) !important;
}
.MuiFormHelperText-root{
    font-family: var(--primary-font) !important;
    color: #f44336 !important;
    font-size: 11px !important;
}
.MuiAlert-message{
    font-family: var(--primary-font);
}

.MuiInputLabel-outlined {
    z-index: 2 !important;
    background: white;
    padding-right: 4px !important;
    padding-left: 4px !important;
}
.input-align-right input{
    text-align: right;
}
.MuiMenuItem-root{
    font-family: var(--primary-font) !important;
    font-size: 13px !important;
}
.MuiSelect-select{
    font-family: var(--primary-font) !important;
}
.MuiAutocomplete-inputRoot{
    border-radius: 12px !important;
}
.no-scroll{
    overflow-y: hidden;
}
#nprogress .bar{
    background: #fff !important;
    height: 3px !important;
}
#nprogress .spinner-icon{
    border-top-color: #fff !important;
    border-left-color: #fff !important;
}
.MuiAlert-message{
    font-family: var(--primary-font) !important;
    font-weight: 600;
}