.groupItemContainer{
    display: flex;
    margin-top: 32px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.groupItemContainer .mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.groupItemContainer .sideSection{
    display: flex;
    flex-direction: column;
}
.groupItemContainer .mainSection > div{
    width: 730px;
}
.groupItemContainer .sideSection > div{
    width: 300px;
}
.groupItemContainer .sideSection:nth-child(3) > div{
    width: 350px;
}

.moreCollectionIcon{
    color: #3e3f5e;
    font-size: 13px;
}

@media(max-width:1770px){
    .groupItemContainer .mainSection > div{
        width: 630px;
    }
}
@media(max-width:1670px){
    .groupItemContainer .mainSection > div{
        width: 540px;
    }
}   
@media(max-width:1570px){
    .groupItemContainer .mainSection > div{
        width: 500px;
    }
    .groupItemContainer .sideSection > div{
        width: 300px;
    }
    .groupItemContainer .sideSection:nth-child(3) > div{
        width: 320px;
    }
   
}
@media(max-width:1500px){
    .groupItemContainer .mainSection > div{
        width: 500px;
    }
    .groupItemContainer .sideSection > div{
        width: 250px;
    }
    .groupItemContainer .sideSection:nth-child(3) > div{
        width: 300px;
    }    
}

@media(max-width:1435px){
    .groupItemContainer{
        justify-content: center;
    }
    .groupItemContainer > div{
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .groupItemContainer .mainSection {
        align-items: center;
        order:3;
    }
    .groupItemContainer .sideSection {
        flex: 1;
        order:1
    }
    .groupItemContainer .sideSection:nth-child(3) {
        flex: 1;
        order:2;
    }
    .groupItemContainer .sideSection > div{
        width: 100% !important;
    }
    .groupItemContainer .mainSection {
        flex:4 !important;
    }
    .groupItemContainer .mainSection > div{
        width: 100% !important;
        min-width: 400px;
    }
}
@media(max-width:465px){
    .groupItemContainer .mainSection > div{
        width: 100% !important;
        min-width: 200px;
    }
}
@media(max-width:400px){
    .groupItemContainer .mainSection > div, .groupItemContainer .sideSection > div{
        width: 100% !important;
        max-width: 300px !important;
    }
}