
.pendingBadge{
    border-color: var(--secondary-color) !important;
    color:  var(--secondary-color)  !important;
    font-family: var(--primary-font) !important;
}
.assignedBadge{
    border-color: var(--primary-color) !important;
    color: var(--primary-color)  !important;
    font-family: var(--primary-font) !important;
}
.validatedBadge{
    border-color: var(--active-color) !important;
    color:  var(--active-color)  !important;
    font-family: var(--primary-font) !important;   
}
.rejectedBadge{
    border-color: var(--danger-color) !important;
    color:  var(--danger-color)  !important;
    font-family: var(--primary-font) !important;     
}

 .notFound{
    width: 100%;
    position: relative;
    top: -80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .notFound >img{
    width: 75%;
}

 .notFound > h1{
    font-family: var(--primary-font);
    color: var(--primary-color);
    position: relative;
    top: -150px;
}
 
.filterSection {
    /* width: 100%; */
    height: 100px;
    border-radius: 8px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #ffffff;
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    padding-right: 28px;
    padding-left: 28px;
}
.filterSection .groupedActions{
    display: flex;
    flex:1;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.filterSection .input{
    width: 349px !important;
    border-radius: 10px !important;
    border: solid 1px transparent !important;
    background-color: #ffffff;
    margin-top: 6px;
}
  .input > div{
    border-radius: 10px !important;
    border-color: transparent;
}
 .select{
    width: 143px;
    /* height: 48px !important; */
    border-radius: 8px;
    border: solid 1px #dedeea;
    background-color: #ffffff;
}

.filterSection .searchButton{
    width: 64px !important;
    height: 48px !important;
    padding: 12px 20px;
    border-radius: 8px !important;
    box-shadow: 3px 5.2px 10px 0 rgba(255, 209, 102, 0.3);
    background-color: #ffd166 !important;
}
.filterSection .searchButton .searchIcon{
    font-size: 30px !important;
    color: #ffffff;   
}
.filterSection .searchButton .searchIcon.right{
    transform: rotate(100deg) !important;
}
.buttonSection{
    flex:1;
    display: flex;
    justify-content: flex-end;

}
.filterSection .addButton{
    width: 132px;
    height: 48px;
    border-radius: 8px;
    box-shadow: 3px 5.2px 10px 0 rgba(6, 214, 160, 0.3);
    background-color: var(--active-color);
}
.filterSection .addButton span.text{
    width: 81px;
    font-family: var(--primary-font);
    font-size: 13.9px;
    color: #ffffff;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
}
.filterSection .addButton .addIcon{
    font-size: 19px;
    color: #ffffff;
}

.tableContainer{
    width: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}

.table{
    width: 100%;
}
.table .cellHeader {
    width: 42px;
    height: 22px;
    margin: 0 341.7px 0 274.3px;
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2;
    letter-spacing: normal;
    color: #3e3f5e;
    border-bottom: 0px;
}
.table .cellBody {
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    color: #9192a6;
}
.table .tableBody{
    background-color: #fff;
    padding: 24px 32px 19px;
    border-radius: 8px !important;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #ffffff;
}
.table .cellBody.title{
    width: 150px;
    height: 27px;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #118ab2 !important;
}
 
.table .cellBody .downloadIcon{
    font-size: 24px;
    color: var(--primary-color);
}
.tableContainer .paginationContainer{
    width:100%;
    display: flex;
    justify-content: flex-end;
}
.tableContainer .paginationContainer .paginationCustom{
    width: auto;
    height: 60px;
    margin: 16px 457px 0 0;
    padding: 19.3px 27px 20px 27px;
    border-radius: 8px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.tableContainer .paginationContainer .paginationCustom .paginationButton{
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    text-align: center;
    color: #3e3f5e;
}
.disableButton{
    opacity: 0.4;
    color: #afb0c0;
}
.tableContainer .paginationContainer .paginationCustom .paginationButton.activeButton{
    color: var(--primary-color);
}
.tableContainer .paginationContainer .paginationCustom .dividerPagination{
    width: 1px;
    height: 20px;
    margin: 0.7px 22.7px 0 27px;
    background-color: #eaeaf5;
}
 .empty{
    width: 100%;
    height: 550px;
    margin-top: 20px;
    font-family: var(--primary-font);
    display: flex;
    flex-direction: column;
    /* background-color: #fff; */
    justify-content: center;
    align-items: center;
}
 .empty img{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}
 .empty h3{
    font-size: 26px;
    color: #afb0c0;
}