.servicesContainer{
    display: flex;
    flex-direction: column;
}
.servicesContainer > h1{
    font-family: var(--primary-font);
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    margin-top: 34.2px;
    font-style: normal;
    line-height: 0.92;
    letter-spacing: normal;
    /* text-align: right; */
    color: #3e3f5e;
}
.servicesList{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.servicesContainer .servicesList > *{
    margin: 16px
}

/* Service item css */
.serviceViewContainer{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}
.serviceViewContainer h1{
    width: 194px;
    font-family: var(--primary-font);
    font-size: 26px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.92;
    margin-bottom: 32px;
    letter-spacing: normal;
    text-align: right;
    color: #3e3f5e;
}
.serviceViewContainer .serviceView{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.serviceViewContainer .serviceView .serviceViewImage{
    width: 100%;
    height: 502px;
    background-color: var(--secondary-color);
}
.serviceViewContainer .serviceView .serviceViewContent{
    width: 80%;
    position: relative;
    top: -220px;
    border-radius: 12px;
    box-shadow: 0 0 40px 0 rgba(94, 92, 154, 0.06);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 85px;
    padding-bottom: 20px;
}
.serviceViewContainer .serviceView .serviceViewContent h2{
    font-family: var(--primary-font);
    font-size: 40px;
    margin-bottom: 49px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: normal;
    text-align: right;
    color: #3e3f5e;
}
.serviceViewContainer .serviceView .serviceViewContent p{
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.9;
    letter-spacing: normal;
    text-align: right;
    color: #3e3f5e;
}
.serviceViewContainer .serviceView .serviceViewContent .serviceViewImage2{
    margin-top: 24px;
    margin-bottom: 24px;
}
.serviceViewContainer .serviceView .serviceViewContent .serviceViewImage2 .serviceViewImageSrc{
    width: 100%;
    background-color: var(--primary-color);
    height: 320px;
}
.serviceViewContainer .serviceView .serviceViewContent .serviceViewImage2 h6{
    font-family: var(--primary-font);
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.99;
    letter-spacing: normal;
    text-align: center;
    color: #9192a6;
    margin-top: 16px;
}
.serviceViewContainer .serviceView .serviceViewContent .serviceKeywords{
    display: flex;
    justify-content: center;
    margin-top: 28px;
}
.serviceViewContainer .serviceView .serviceViewContent .serviceKeywords .serviceKeyword{
    min-width: 60px;
    height: 24px;
    margin: 0 12px 0 0;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: 10px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: -0.1px;
    color: #ffffff;
}
.serviceViewContainer .serviceView .serviceViewContent .getService{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 68px;
}
.serviceViewContainer .serviceView .serviceViewContent .getServiceButton{
    width: 224px;
    height: 40px;
    border-radius: 8px !important;
    box-shadow: 3px 5.2px 10px 0 rgba(6, 214, 160, 0.3);
    background-color: #06d6a0 !important;
    color: #fff !important;
    font-family: var(--primary-font) !important;
    font-size: 13.9px !important;
    font-weight: bold !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.43 !important;
    letter-spacing: normal !important;
}